<div class="customer">
  <h2><%=customer.full_name%></h2>

  <% unless customer.image.empty? %>
    <%= image_tag customer.image %>
  <% end %>

  <p><strong>Province: </strong>
    <%= customer.province_id == nil ? "None" : customer.province.name %>
  </p>

  <% unless customer.phone_number.empty?%>
    <p><strong>Phone: </strong><%=customer.phone_number%></p>
  <% end %>

  <% unless customer.email_address.empty?%>
    <p><strong>Email: </strong><%=customer.email_address%></p>
  <% end %>

  <% unless customer.notes.empty?%>
    <p><strong>Notes: </strong><%=customer.notes%></p>
  <% end %>
</div>
